.home-container {
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}
.wholeContent {
  display: flex;
  height: 100%;
}
.content {
  display: flex;
  gap: 20px;
  margin: 10px;
  flex-wrap: wrap;
}
