body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    135deg,
    #e0f7e9,
    #b9f6ca
  ); /* Light green gradient */
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
  margin: 0;
  animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
  0% {
    background: linear-gradient(135deg, #e0f7e9, #b9f6ca);
  }
  100% {
    background: linear-gradient(135deg, #b9f6ca, #e0f7e9);
  }
}

.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  animation: backgroundAnimation 10s infinite alternate;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-header {
  color: #2e7d32; /* Dark green from the palette */
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.login-input-group {
  margin-bottom: 20px;
  text-align: left;
  width: 100%; /* Ensure input groups take full width */
}

.login-input-group label {
  display: block;
  color: #388e3c; /* Green from the palette */
  margin-bottom: 8px;
}

.login-input-group input {
  width: 92%;
  padding: 12px;
  border: 1px solid #a5d6a7;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s;
  align-self: center;
}

.login-input-group input:focus {
  border-color: #4caf50; /* Medium green from the palette */
  outline: none;
}
p {
  color: #4caf50;
}
.link {
  color: #a5d6a7;
  text-decoration: underline;
  transition: color 0.3s;
}
.link:hover {
  color: #388e3c;
}
.login-button {
  background-color: #4caf50; /* Medium green from the palette */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 90%; /* Set the button to take full width */
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.login-button:hover {
  background-color: #388e3c; /* Darker green on hover */
  transform: scale(1.05);
}

.login-button:active {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  .login-container {
    padding: 20px;
  }

  .login-header {
    font-size: 20px;
  }

  .login-input-group input {
    padding: 10px;
    font-size: 14px;
  }

  .login-button {
    padding: 10px;
    font-size: 14px;
  }
}
