body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e0f7e9;
  color: #2e7d32;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-container {
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}
.wholeContent {
  display: flex;
  height: 100%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}
